#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#text_box
{
    width: 250px;
}
#selfie
{
    height: 70;
    width: 90;
}
body
{
    background-color: rgb(224, 225, 228);
}